/* Write CSS Here */
*{
  padding: 0;
  margin: 0;
}
body {
  text-align: center;
}
h1{
  color: rgb(44, 29, 183);
  font-size: 40px;
  font-weight: bold;
}
#board{
  padding: 10px;
    border: 5px solid rgb(44, 29, 183);
    padding: 30px;
    border-radius: 50px 50px 50px 50px;
    
}